<div appThemed class="coa-details details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    COA Details
  </div>

  <div class="page-content" *ngIf="coa">
    <div class="left-content">
      <app-details-panel
        [id]="coa.linearId"
        label="COA ID"
        [statuses]="statuses"
        [currentStatus]="coa.customersigned === 'yes' ? 'Signed' : 'Not Signed'">
        <div>
          <div class="flex-grid"><div class="client-name-tag flex-grid">{{ clientName }}</div></div>
          <div class="flex-grid align-items-stretch">
            <app-addresses [coa]="coa"></app-addresses>
            <div class="flex-grow"></div>
            <div class="right-details flex-grid flex-column align-items-end justify-content-end">
              <div class="label">Customer PO Number</div>
              <div class="value">{{ coa.customerPoNumber }}</div>
              <div class="label">Order No</div>
              <div class="value">{{ orderNumbers.join(', ') }}</div>
            </div>
          </div>
        </div>
      </app-details-panel>

      <div class="panel">
        <div class="panel-subtitle-row">
          Not Signed Items
          <app-search-box
            [bordered]="true"
            placeholder="Search the records"
            [data]="devices"
            (filter)="filteredDevices = $event">
          </app-search-box>
        </div>
        <div class="simple-table">
          <table>
            <thead><tr><th *ngFor="let column of deviceColumns">{{ column.name }}</th></tr></thead>
            <tbody>
              <tr *ngFor="let device of filteredDevices">
                <td *ngFor="let column of deviceColumns">
                  <span *ngIf="!column.type">{{ device[column.key] }}</span>
                  <span *ngIf="column.type === 'date'">{{ device[column.key] | date: 'dd/MM/yyyy' }}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="no-results-message" *ngIf="filteredDevices && filteredDevices.length === 0">
            No records found for the given criteria
          </div>
        </div>

        <app-customer-declaration
          *ngIf="coa.customersigned === 'yes' || userAllowedToSign"
          [coa]="coa"
          (signInit)="onSignInit()">
        </app-customer-declaration>

        <div class="panel-button-row">
          <button class="button primary" *ngIf="!signing && coa.customersigned === 'no' && coa.customerprintedname" (click)="sign()">Sign</button>
          <div class="loader" *ngIf="signing"></div>
          <button class="button secondary" [routerLink]="['/coas/coa-listing']">Back to Listing</button>
        </div>
      </div>

    </div>
  </div>

  <div class="loader-container" *ngIf="!coa">
    <div class="loader"></div>
  </div>
</div>
