@import 'src/assets/scss/variables.scss';

.client-name-tag {
    height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    font-size: 18px;
    font-family: $app-font-bold;
    margin-bottom: 18px;
    text-transform: uppercase;

    @include themify() {
        background-color: themed('background');
        color: themed('positive');
    }
}

.right-details {
    line-height: 16px;
    .label {
        text-transform: uppercase;
        margin-bottom: 3px;
        @include themify() {
            color: themed('text-weak');
        }
    }
    .value {
        font-family: $app-font-medium;
        margin-bottom: 13px;
        text-align: right;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
