@import 'src/assets/scss/variables.scss';

.header {
    height: 65px;
    padding-bottom: 15px;
}

.path {
    @include themify() {
        color: themed('text-weak');
    }
    .highlight {
        font-family: $app-font-medium;
        @include themify() {
            color: themed('brand');
        }
    }
}

.search-box-container {
    position: relative;

    .search-dropdown {
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        border-radius: 16px;
        min-width: 100%;
        max-width: 100%;
        max-height: 400px;
        overflow: auto;
        @include themify() {
            background-color: themed('background-contrast');
            color: themed('text-weak');
            box-shadow: 0 0 55px rgba(themed('text-strong'), 0.15);
        }
        z-index: 1000;

        .group-title {
            height: 48px;
            padding: 0 25px;
            font-size: 18px;
            font-family: $app-font-medium;
            @include themify() {
                color: themed('text-strong');
            }
        }
        .option {
            height: 32px;
            padding: 0 25px;
            cursor: pointer;
            @include themify() {
                &:hover {
                    background-color: themed('brand');
                    color: themed('text-contrast');
                }
                &:nth-child(even) {
                    background-color: themed('background');
                    &:hover {
                        background-color: themed('brand');
                        color: themed('text-contrast');
                    }
                }
            }
        }

        .no-results-message {
            height: 32px;
            display: flex;
            align-items: center;
            padding: 0 25px;
            @include themify() {
                background-color: themed('background');
            }
        }
    }
}

.user-controls {
    & > * {
        margin: 0 8px;
        &:last-child {
            margin-right: 0;
        }
    }

    img {
        height: 32px;
        cursor: pointer;
    }
    .icon {
        font-size: 24px;
        cursor: pointer;
    }

    .notifications {
        position: relative;

        .indicator {
            position: absolute;
            width: 10px;
            height: 10px;
            top: 2px;
            left: -1px;
            border-radius: 6px;

            @include themify() {
                background-color: themed('danger');
                border: 2px solid themed('background');
            }
        }
    }
}
