<div appThemed class="header flex-grid justify-content-between">
  <div class="path">
    <ng-container *ngFor="let part of path; let i=index">
      <span *ngIf="i">{{ ' / '}}</span>
      <span [class.highlight]="i < path.length - 1">{{ part }}</span>
    </ng-container>
  </div>

  <div class="search-box-container" (clickOutside)="showSearchResults=false" [clickOutsideEnabled]="showSearchResults">
    <app-search-box
      placeholder="Search by any ID here..."
      [width]="300"
      [blend]="true"
      [(appModel)]="searchText"
      (change)="searchTextUpdate.next()"
      (focus)="showSearchResults = true">
    </app-search-box>

    <div class="search-dropdown" *ngIf="showSearchResults && searchResults">
      <ng-container *ngFor="let group of searchResults">
        <div class="group-title flex-grid">{{ group.entity.name }}</div>
        <div class="option flex-grid" *ngFor="let id of group.ids" (click)="navigateTo(group.entity, id)">{{ id }}</div>
        <div class="no-results-message" *ngIf="!group.ids.length">Nothing found!</div>
      </ng-container>
    </div>
  </div>

  <div class="user-controls flex-grid">
    <div>Welcome back, <strong>{{ user.username }}</strong></div>
    <img [src]="user.avatar">
    <div class="notifications">
      <div class="indicator"></div>
      <i class="icon">notifications</i>
    </div>
    <i class="icon" (click)="logout()">input</i>
  </div>
</div>
