<div appThemed class="customer-declaration">
  <div class="declaration-title">Declaration by Customer</div>

  <div class="declaration-card flex-grid align-items-stretch">
    <div class="left-section flex-grid flex-column">
      <div class="section-header">Instructions for consignee</div>
      <div class="left-details flex-grow">{{ instructions }}</div>
    </div>
    <div class="right-section flex-grow flex-grid flex-column">
      <div class="section-header">Signature</div>
      <div class="signature flex-grow">
        <div class="dashed" *ngIf="!coa[printedNameKey]" (click)="initiateSign()">Sign Here</div>
        <div *ngIf="coa[printedNameKey]">{{ coa[printedNameKey] }}</div>
      </div>
      <div class="signature-details flex-grid">
        <div class="field">
          <div class="label">Signature Date</div>
          <input [disabled] [ngModel]="coa[signedDateKey] | date: 'MMMM d, y'">
        </div>
        <div class="field">
          <div class="label">Signatory Position</div>
          <input [disabled] [ngModel]="coa[signatoryPositionKey]">
        </div>
        <div class="field">
          <div class="label">Customer Printed Name</div>
          <input [disabled] [ngModel]="coa[printedNameKey]">
        </div>
      </div>
    </div>
  </div>
</div>
