<div appThemed class="select" [class.active]="active" (clickOutside)="active = false" [clickOutsideEnabled]="active">
  <!-- select box -->
  <div class="select-box flex-grid justify-content-between" (click)="active = !active">
    <div class="flex-grow">{{ selectedOption?.name || selectedOption?.text || selectedOption || placeholder }}</div>
    <i class="icon">expand_more</i>
  </div>
  <!-- options container -->
  <div [class]="'options-container ' + position">
    <div *ngIf="canReset" class="option flex-grid" (click)="selectOption(null)">{{ placeholder }}</div>
    <div class="option flex-grid" (click)="selectOption(option)" *ngFor="let option of options">
      {{ option?.name || option?.text || option }}
    </div>
  </div>
</div>
