<div appThemed class="coa-by-agreement-details details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    COA by Agreement Details
  </div>

  <div class="page-content" *ngIf="coabya">
    <div class="left-content">

      <app-details-panel
        [id]="coabya.linearId"
        label="COA by Agreement ID"
        [statuses]="statuses"
        [currentStatus]="coabya.signed === 'yes' ? 'Signed' : 'Not Signed'">
        <div class="flex-grid align-items-stretch">
          <div class="flex-grid flex-column align-items-start">
            <div class="client-name-tag flex-grid">{{ customerOrgName }}</div>
            <app-addresses [coa]="coabya.coas[0]" *ngIf="coabya.coas && coabya.coas.length"></app-addresses>
          </div>
          <div class="flex-grow"></div>
          <div class="right-details flex-grid flex-column align-items-end justify-content-between">
            <div>
              <div class="label">Order No</div>
              <div class="value">{{ orderNumbers.join(', ') }}</div>
            </div>
            <div>
              <div class="label">Declaration by customer</div>
              <div class="inline">
                <span class="label">Master Agreement Number:</span>
                <span class="brand bold">{{ ' ' + coabya.masteragreementnumber }}</span>
              </div>
              <div class="inline">
                <span class="label">Schedule Number:</span>
                <span class="brand bold">{{ ' ' + coabya.schedulenumber }}</span>
              </div>
            </div>
          </div>
        </div>
      </app-details-panel>

      <div class="panel">
        <app-lease-texts
          [equipmentLocation]="coabya.equipmentlocation"
        ></app-lease-texts>

        <div class="panel-subtitle-row">
          List of COAs
          <app-search-box
            [bordered]="true"
            placeholder="Search the records"
            [data]="coabya.coas"
            (filter)="filteredCoas = $event">
          </app-search-box>
        </div>
        <app-coa-simple-table [coas]="filteredCoas"></app-coa-simple-table>

        <app-customer-declaration
          *ngIf="coabya.signed === 'yes' || userAllowedToSign"
          [coa]="coabya"
          type="coabya"
          (signInit)="onSignInit()">
        </app-customer-declaration>

        <div class="panel-button-row">
          <button class="button primary" *ngIf="!signing && coabya.signed === 'no' && coabya.printname" (click)="sign()">Sign</button>
          <div class="loader" *ngIf="signing"></div>
          <button class="button secondary" [routerLink]="['/coas/coa-by-agreement-listing']">Back to Listing</button>
        </div>
      </div>

    </div>
  </div>

  <div class="loader-container" *ngIf="!coabya">
    <div class="loader"></div>
  </div>
</div>
