@import 'src/assets/scss/variables.scss';

.summary-card {
    border-radius: 8px;
    height: 485px;

    @include themify() {
        box-shadow: 0 0 25px rgba(themed('text-strong'), 0.05);
    }
}

.title-row {
    padding: 0 16px;
    height: 50px;

    .title {
        font-family: $app-font-bold;
        text-transform: uppercase;
        @include themify() {
            color: themed('brand');
        }
    }
    .icon {
        font-size: 18px;
        cursor: pointer;
        @include themify() {
            color: themed('text-weak');
        }
    }
}

.table-name {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    @include themify() {
        color: themed('text-weak');
        box-shadow: 0 1px 0 themed('border');
    }
}

table {
    width: 100%;
    td,
    th {
        padding: 0 8px;
        &:first-child {
            padding-left: 16px;
        }
        &:last-child {
            padding-right: 14px;
        }
    }
    th {
        height: 40px;
        font-family: $app-font-medium;
    }
    td {
        height: 32px;
        max-width: 100px;
        .status {
            font-family: $app-font-bold;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .id {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    tbody {
        tr:nth-child(odd) {
            @include themify() {
                background-color: themed('background');
            }
        }
    }
}

.button-container {
    height: 60px;
}

.loader-container {
    height: 135px;
}
