<div appThemed class="summary-card background-contrast">
  <div class="title-row flex-grid justify-content-between">
    <div class="title">{{ name }}</div>
    <i class="icon">more_vert</i>
  </div>

  <div class="chart-container" *ngIf="statuses">
    <app-doughnut-chart [data]="statuses"></app-doughnut-chart>
  </div>
  <div class="loader-container flex-grid justify-content-center" *ngIf="!statuses">
    <div class="loader"></div>
  </div>


  <div class="table-name flex-grid">{{ 'Recent ' + name + 's' }}</div>
  <table *ngIf="data">
    <thead><tr><th *ngFor="let column of columns">{{ column.name }}</th></tr></thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td
          *ngFor="let column of columns"
          class="text-weak">
          <span *ngIf="!column.type">{{ row[column.key] }}</span>
          <span
            *ngIf="column.type === 'status'"
            [class]="'status ' + utilService.getColorForStatus(row[column.key])">
            {{ row[column.key].replace('-', ' ') }}
          </span>
          <span *ngIf="column.type === 'date'">{{ row[column.key] | date: 'dd/MM/yyyy' }}</span>
          <div class="id link" *ngIf="column.type === 'id'"
            [ngbTooltip]="row[column.key]" (click)="goTo(row[column.key])">
            {{ row[column.key] }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-container flex-grid justify-content-center" *ngIf="data" (click)="goTo()">
    <button class="button primary">View All</button>
  </div>

  <div class="loader-container flex-grid justify-content-center" *ngIf="!data">
    <div class="loader"></div>
  </div>

</div>
