@import 'src/assets/scss/variables.scss';

.sidenav {
    width: 75px;
    height: 100%;

    @include themify() {
        background-color: themed('background-contrast');
    }
}

.item {
    height: 75px;
    padding: 10px 0;
    font-family: $app-font-medium;
    font-size: 10px;
    line-height: 12px;
    opacity: 0.5;
    cursor: pointer;

    .logo {
        margin-top: 6px;
    }
    .indicator {
        height: 100%;
        width: 2px;
        opacity: 0;
        flex-shrink: 0;
    }
    .inner {
        padding-top: 6px;
        width: 100%;
    }
    .icon {
        font-size: 18px;
        margin-bottom: 9px;
    }
    .label {
        text-align: center;
        width: 100%;
    }

    &.active {
        &,
        .indicator {
            opacity: 1;
        }

        @include themify() {
            color: themed('brand');
        }
    }
}
