<div appThemed class="sidenav">
  <div class="item flex-grid align-items-start justify-content-center active">
    <img class="logo" src="/assets/icons/logo.svg">
  </div>
  <div class="item flex-grid" *ngFor="let item of navItems"
    [class.active]="item.active" (click)="navItemClicked(item)">
    <div class="indicator background-brand"></div>
    <div class="inner flex-grow flex-grid flex-column">
      <i class="icon">{{ item.icon }}</i>
      <div class="label">{{ item.label }}</div>
    </div>
  </div>
</div>
