<div appThemed class="create-new-by-agreement details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    Create New COA by Agreement
  </div>

  <div class="page-content" *ngIf="coabya">
    <div class="left-content">

      <app-details-panel
        id="New COA by Agreement"
        [statuses]="statuses"
        [currentStatus]="'Not Signed'">
      </app-details-panel>

      <div class="panel">
        <div class="coabya-form">
          <div class="panel-subtitle-row">Order No</div>
          <input class="bordered" placeholder="Enter Name" [(ngModel)]="orderNumber" required
            [class.error]="showInputErrors && !orderNumber">
          <div class="subtext">Separate by comma</div>

          <div class="panel-subtitle-row">Declaration by Customer</div>
          <div class="delcaration-label">Exhibit B to Master Agreement</div>
          <div class="flex-grid">
            <div class="field">
              <div class="label">Master Agreement Number</div>
              <input class="bordered" placeholder="Enter" [(ngModel)]="coabya.masteragreementnumber"
                required [class.error]="showInputErrors && !coabya.masteragreementnumber">
            </div>
            <div class="field">
              <div class="label">Schedule Number</div>
              <input class="bordered" placeholder="Enter" [(ngModel)]="coabya.schedulenumber"
                required [class.error]="showInputErrors && !coabya.schedulenumber">
            </div>
          </div>
        </div>

        <app-lease-texts
          [(equipmentLocation)]="coabya.equipmentlocation"
          [canEdit]="true"
        >
          <input
            type="text"
            class="bordered"
            [class.error]="showInputErrors && !coabya.equipmentlocation"
            placeholder="Equipment Location, The equipment has been installed and is located at the following Equipment location."
            required
            [(ngModel)]="coabya.equipmentlocation"
          />
        </app-lease-texts>

        <div class="panel-subtitle-row">
          List of COAs
          <div class="flex-grid">
            <app-search-box
              [bordered]="true"
              placeholder="Search the records"
              [data]="coabya.coas"
              (filter)="filteredCoas = $event">
            </app-search-box>
            <button class="button tertiary add-coas" (click)="addCoas()">+ Add COA</button>
          </div>
        </div>
        <app-coa-simple-table
          [coas]="filteredCoas"
          [deletable]="true"
          (delete)="removeCoa($event)">
        </app-coa-simple-table>

        <div class="panel-subtitle-row customer-details-title">
          {{ user.customerorgname + ' (LESSEE)'}}
        </div>

        <div class="customer-details flex-grid">
          <div class="field">
            <div class="label">Signature Date</div>
            <input [disabled] [ngModel]="today | date: 'MMMM d, y'">
          </div>
          <div class="field">
            <div class="label">Customer Printed Name</div>
            <input [disabled] [ngModel]="user.username">
          </div>
          <div class="field">
            <div class="label">Title</div>
            <input [disabled] [ngModel]="user.signatoryposition">
          </div>
        </div>

        <div class="panel-button-row">
          <button class="button primary" *ngIf="!creating" (click)="create()">Create Agreement</button>
          <div class="loader" *ngIf="creating"></div>
          <button class="button secondary" [routerLink]="['/coas/coa-by-agreement-listing']">Back to Listing</button>
        </div>
      </div>

    </div>
  </div>
</div>
