@import 'src/assets/scss/variables.scss';

.panel {
    .button.add-coas {
        margin-left: 15px;
    }
}

.coabya-form {
    margin-bottom: 23px;

    input {
        width: 300px;
    }

    .subtext {
        font-style: italic;
        line-height: 16px;
        margin-top: 3px;
        margin-bottom: 23px;

        @include themify() {
            color: themed('text-weak');
        }
    }

    .delcaration-label {
        font-size: 14px;
        margin: -3px 0 17px 0;
        line-height: 20px;
    }

    .field {
        margin-right: 15px;
        .label {
            font-family: $app-font-medium;
            margin-bottom: 10px;
        }
    }
}

.customer-details-title {
    margin-top: 23px;
    text-transform: uppercase;
}

.customer-details {
    width: 100%;
    padding-bottom: 25px;
    @include themify() {
        border-bottom: 1px solid themed('border');
    }

    .field {
        margin-right: 10px;
        width: 100%;
        max-width: 180px;
        &:last-child {
            margin-right: 0;
        }

        .label {
            margin-bottom: 5px;
            line-height: 16px;
            font-family: $app-font-medium;
        }
        input {
            @include themify() {
                background-color: themed('background');
                color: themed('text-weak');
            }
        }
    }
}
