@import 'src/assets/scss/variables.scss';

.column-settings-sidebar {
    padding: 50px 20px 25px 20px;
    position: relative;
    width: 350px;
    height: 100%;

    @include themify() {
        background-color: themed('background-contrast');
    }
}

.close-icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 20px;

    @include themify() {
        color: rgba(themed('text-weak'), 0.75);
    }
}

.title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
    font-family: $app-font-bold;
    @include themify() {
        color: themed('brand');
    }
}
.subtitle {
    font-family: $app-font-bold;
    line-height: 16px;
    margin-bottom: 17px;
}

.item-list {
    height: calc(100% - 112px);
    overflow: auto;

    .item {
        height: 32px;
        border-radius: 16px;
        padding: 0 10px;
        margin-bottom: 5px;

        @include themify() {
            background-color: themed('background');
        }

        .icon {
            margin-right: 5px;
            transform: rotate(90deg);
            font-size: 14px;
            @include themify() {
                color: themed('text-weak');
            }
        }
    }
}

.buttons-row {
    margin-top: 20px;

    .button {
        margin-right: 20px;
    }
}
