<div appThemed class="column-settings-sidebar">
  <i class="icon close-icon" (click)="onClose()">cancel</i>

  <div class="title">Column Settings</div>
  <div class="subtitle">Order</div>

  <div class="item-list">
    <div class="item flex-grid" *ngFor="let column of columns; let i=index">
      <i class="icon">drag_indicator</i>
      {{ column.name }}
      <div class="flex-grow"></div>
      <app-toggle [(appModel)]="toggleList[i]"></app-toggle>
    </div>
  </div>

  <div class="buttons-row flex-grid">
    <button class="button primary" (click)="apply()">Apply</button>
    <button class="button secondary" (click)="onClose()">Cancel</button>
  </div>
</div>
