<div appThemed class="coa-listing">
  <app-status-banner *ngIf="statusCounts" [statuses]="statusCounts" name="Invoices"></app-status-banner>

  <app-listing-table
    [columns]="columns"
    [service]="invoiceService"
    [statuses]="statuses"
    (linkClick)="navigateToInvoice($event)"
    (edit)="createInvoice($event)">
  </app-listing-table>

</div>
