@import 'src/assets/scss/variables.scss';

.toggle {
    width: 28px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 2px;

    @include themify() {
        background-color: themed('border');
    }

    &.on {
        justify-content: flex-end;
        @include themify() {
            background-color: themed('button-primary');
        }
    }
}

.indicator {
    height: 12px;
    width: 12px;
    border-radius: 6px;

    @include themify() {
        box-shadow: 0 2px 4px rgba(themed('text-strong'), 0.16);
    }
}
