<div appThemed class="order-details details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    Order Details
  </div>

  <div class="page-content" *ngIf="order">
    <div class="left-content">
      <app-details-panel
        [id]="order.orderNo"
        label="Order ID"
        [statuses]="statuses"
        [currentStatus]="order.summarizedStatus">
        <div class="detail-fields flex-grid flex-wrap justify-content-between">
          <div class="field flex-grid" *ngFor="let field of detailFields">
            <div class="label text-weak">{{ field.name }}</div>
            <div class="value" *ngIf="!field.type">{{ order[field.key] || '- -' }}</div>
            <div class="value" *ngIf="field.type === 'time'">{{ (order[field.key] | date: 'dd/MM/yyy HH:mm:ss') || '- -'}}</div>
          </div>
        </div>
      </app-details-panel>

      <div class="panel">
        <div class="panel-title-row">
          Items
          <div class="flex-grid">
            <app-search-box
              [bordered]="true"
              placeholder="Search the records"
              [data]="order.items"
              (filter)="filteredOrderItems = $event">
            </app-search-box>
            <i class="icon settings" (click)="showColumnSettingsSidebar = true">settings</i>
          </div>
        </div>
        <app-items-table
          [items]="filteredOrderItems"
          [allColumnsRef]="allItemColumns"
          (settings)="showColumnSettingsSidebar = true"
          (updateDeviceStatuses)="onUpdateOrderDevices($event)"
        >
        </app-items-table>
        <div class="panel-button-row">
          <button class="button secondary" [routerLink]="['/order-listing']">Back to Listing</button>
        </div>
      </div>
    </div>

    <div class="right-content addresses-card background-contrast" *ngIf="order">
      <div class="address" *ngFor="let a of addresses">
        <div class="name">{{ a.name }}</div>
        <p>{{ a.address.id }}</p>
        <p>{{ a.address.name }}</p>
        <p>{{ a.address.addressLine1 }}</p>
        <p *ngIf="a.address.addressLine2">{{ a.address.addressLine2 }}</p>
        <p>{{ a.address.city + ', ' + a.address.country }}</p>
        <p *ngIf="a.address.telephone">{{ a.address.telephone }}</p>
      </div>
    </div>
  </div>

  <!-- manage columns side bar -->
  <div class="columns-settings-bar-container" *ngIf="showColumnSettingsSidebar">
    <app-column-settings-sidebar
      [columns]="allItemColumns"
      (close)="showColumnSettingsSidebar = false">
    </app-column-settings-sidebar>
  </div>

  <div class="loader-container flex-grid justify-content-center" *ngIf="!order">
    <div class="loader"></div>
  </div>
</div>
