@import 'src/assets/scss/variables.scss';

.detail-fields {
    .field {
        min-width: calc(33% - 35px);
        height: 20px;

        .label {
            min-width: 150px;
            margin-right: 20px;
        }
        .value {
            min-width: 175px;
            margin-right: 20px;
            white-space: wrap;
        }
    }
}

.settings {
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.columns-settings-bar-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;

    @include themify() {
        background-color: rgba(themed('text-strong'), 0.25);
    }
}

.addresses-card {
    border-radius: 8px;
    padding: 16px 25px 25px 25px;
    line-height: 16px;

    .address {
        margin-bottom: 20px;
        @include themify() {
            color: themed('text-weak');
        }

        .name {
            font-family: $app-font-bold;
            line-height: 24px;
            margin-bottom: 4px;
            text-transform: uppercase;

            @include themify() {
                color: themed('brand');
            }
        }
    }

    @include desktop-1220-and-down {
        display: flex;
        justify-content: space-between;

        .address {
            margin-bottom: 0;
        }
    }

}
