<div appThemed class="flex-grid">
  <div class="address" *ngFor="let a of addresses">
    <div class="address-name">{{ a.name }}</div>
    <div class="address-field">
      <div class="label">Name</div>
      <div class="value">{{ a.address.name || '- -' }}</div>
    </div>
    <div class="address-field">
      <div class="label">Street</div>
      <div class="value">{{ a.address.street || '- -' }}</div>
    </div>
    <div class="address-field">
      <div class="label">City</div>
      <div class="value">{{ a.address.city || '- -' }}</div>
    </div>
    <div class="address-field">
      <div class="label">Post Code</div>
      <div class="value">{{ a.address.postalCode || '- -' }}</div>
    </div>
    <div class="address-field">
      <div class="label">Country</div>
      <div class="value">{{ a.address.country || '- -' }}</div>
    </div>
    <div class="address-field">
      <div class="label">Region</div>
      <div class="value">{{ a.address.region || '- -' }}</div>
    </div>
  </div>
</div>
