@import 'src/assets/scss/variables.scss';

.address {
    line-height: 16px;
    text-transform: uppercase;
    margin-right: 50px;

    .address-name {
        font-family: $app-font-bold;
        margin-bottom: 13px;
    }
    .address-field {
        display: flex;

        .label {
            min-width: 65px;
            margin-right: 25px;

            @include themify() {
                color: themed('text-weak');
            }
        }
    }
}
