@import 'src/assets/scss/variables.scss';

.outer-container {
    position: relative;
}

.paginated-table-container {
    width: 100%;
    overflow: auto;
    border-radius: 8px;
}

.filter-row {
    margin: 15px 0 10px 0;

    .title {
        font-size: 18px;
        font-family: $app-font-medium;
    }
}

.loading-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 400px;
    @include themify() {
        background-color: rgba(themed('background'), 0.5);
    }

    &.simple {
        min-height: 0;
    }
}

.no-results-message {
    font-size: 14px;
    padding: 30px;
}

table {
    min-width: 100%;
    border-spacing: 0;

    tr {
        @include themify() {
            border-bottom: 1px solid themed('border');
        }
    }

    td,
    th {
        padding: 0 10px
    }

    th {
        height: 48px;
        max-width: 120px;
        line-height: 16px;
        font-family: $app-font-medium;
        cursor: pointer;

        @include themify() {
            border-right: 1px solid themed('border');
            &:last-child {
                border-right: none;
            }
            &.active {
                color: themed('brand');
            }
        }
        .sort-icons {
            padding: 0 3px;
            position: relative;
            height: 20px;
            width: 16px;

            .icon {
                font-size: 20px;
                position: absolute;
                left: 0;

                &.up {
                    top: -4px;
                }
                &.down {
                    bottom: -4px;
                }
                @include themify() {
                    color: themed('text-weak');
                    &.active {
                        color: themed('brand');
                    }
                }
            }
        }
    }
    td {
        height: 40px;
        white-space: pre-line;
        .status {
            display: flex;
            align-items: center;

            .pill {
                height: 24px;
                border-radius: 12px;
                padding: 0 8px;
                text-transform: uppercase;
                font-family: $app-font-medium;
                font-size: 10px;

                @include themify() {
                    color: themed('text-weak');
                    background-color: themed('background');
                }

                .status-dot {
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }

            .icon-circle {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 24px;
                width: 24px;
                border-radius: 12px;
                margin-left: 10px;
                cursor: pointer;

                @include themify() {
                    background-color: themed('background');
                }
                .icon {
                    font-size: 14px;
                }
                .icon-underline {
                    height: 2px;
                    width: 14px;
                    @include themify() {
                        background-color: themed('text');
                    }
                }
            }
        }
    }

    &.simple {
        @include themify() {
            border: 1px solid themed('border');
        }

        th {
            @include themify() {
                background-color: themed('background');
            }
        }
        td {
            height: 32px;
            @include themify() {
                border-right: 1px solid themed('border');
                &:last-child {
                    border-right: none;
                }
            }
        }

        & + .paginator-container {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            @include themify() {
                border: 1px solid themed('border');
                background-color: themed('background');
                border-top: none;
            }
        }
    }

}
