<div appThemed>
  <div class="simple-table" *ngIf="items">

    <table>
      <thead><tr><th *ngFor="let column of columns" [class.delete]="column.type === 'delete'">{{ column.name }}</th></tr></thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td *ngFor="let column of columns" [ngClass]="column.style">
            <span *ngIf="!column.type">{{ item[column.key] }}</span>
            <span *ngIf="column.type === 'date'">{{ item[column.key] | date: 'dd/MM/yyyy' }}</span>
            <span *ngIf="column.type === 'number'">{{ item[column.key] | number: '0.0-0' }}</span>
            <span *ngIf="column.type === 'percentage'">{{ item[column.key] ? (item[column.key] + '%') : '' }}</span>
            <span *ngIf="column.type === 'delete'"><i class="icon danger" (click)="onDelete(item)">delete_forever</i></span>
          </td>
        </tr>
        <tr class="totals-row" *ngIf="items.length">
          <td colspan="7" class="bold right-align">Total Amount</td>
          <td class="bold right-align">{{ totalNetPrice | number: '0.0-0' }}</td>
          <td class="bold right-align">{{ netPriceWithTax | number: '0.0-0' }}</td>
          <td *ngIf="deletable"></td>
        </tr>
      </tbody>
    </table>

    <div class="no-results-message" *ngIf="items && items.length === 0">
      No records found for the given criteria
    </div>

  </div>
</div>
