<div appThemed class="coa-listing">
  <app-status-banner
    *ngIf="statusCounts"
    [statuses]="statusCounts"
    name="COA by Agreement"
    [button]="userCanCreate ? 'Create Agreement' : null"
    (buttonClick)="createNew()">
  </app-status-banner>

  <app-listing-table
    [columns]="columns"
    [service]="coabyaService"
    [statuses]="statuses"
    (linkClick)="navigateToCoabya($event)"
    (edit)="navigateToCoabya($event)">
  </app-listing-table>

</div>
