<div appThemed class="skeleton flex-grid align-items-stretch">
  <app-sidenav></app-sidenav>
  <div class="page-container flex-grow">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>
