@import 'src/assets/scss/variables.scss';

.skeleton {
    height: 100%;
    @include themify() {
        background-color: themed('background');
    }

    app-sidenav {
        flex-shrink: 0;
    }

    .page-container {
        height: 100%;
        overflow: auto;
        padding: 0 25px 36px 25px
    }
}
