@import '../variables.scss';


.details-page {
    .title-row {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 20px;

        @include themify() {
            color: themed('text-strong');
        }

        .back {
            height: 32px;
            width: 32px;
            border-radius: 16px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            cursor: pointer;

            @include themify() {
                color: themed('text');
                border: 1px solid themed('text');
            }
        }
    }

    .page-content {
        display: flex;
        align-items: flex-start;
        width: 100%;

        .left-content {
            width: calc(100% - 250px);
            margin-right: 25px;
        }

        .right-content {
            width: 225px;
        }

        @include desktop-1220-and-down {
            display: block;
            margin-right: 0;
            .left-content {
                width: 100%;
            }
            .right-content {
                margin-top: 10px;
                width: auto;
            }
        }
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}
