.icon {
    font-family: $app-icon-font-rounded;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    user-select: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    &.sharp {
      font-family: $app-icon-font-sharp;
    }
}
