@import '../variables.scss';

input,
.icon-input-box {
    height: 32px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 16px;
    font-family: $app-font-regular;
    padding: 0 16px;
    width: 100%;

    @include themify() {
        color: themed('text');
        background-color: themed('background-contrast');
        border: 1px solid themed('border');

        &::placeholder {
            color: themed('text-weak');
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: themed('text-weak');
        }
        &::-ms-input-placeholder {
          color: themed('text-weak');
        }
    }

    &.large {
        height: 49px;
        border-radius: 25px;
        font-size: 14px;
        padding: 0 24px;
    }
    &.borderless {
        border: none;
    }
    &.error,
    &.borderless.error {
        @include themify() {
            border: 1px solid themed('danger');
        }
    }

    &:focus {
        outline: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// a container for icon-input-boxes like search box
.icon-input-box {
    display: flex;
    align-items: center;

    input {
        border: none !important;
        flex-grow: 1;
        padding: 0;
        background-color: transparent;
    }

    // right or left MUST be mentioned
    .icon {
        margin: 0 6px;
        font-size: 17px;
    }
    &.icon-right {
        padding-right: 10px;
        .icon {
            margin-right: 0;
        }
    }
    &.icon-left {
        padding-left: 10px;
        .icon {
            margin-left: 0;
        }
    }

    &.large {
        .icon {
            font-size: 22px;
            margin: 0 8px;
        }
    }
}
