@import '../variables.scss';

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: loading 1.2s linear infinite;
    @include themify() {
        border: 3px solid themed('brand');
        border-color: themed('brand') themed('brand') themed('background-strong') themed('background-strong');
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
