@import '../variables.scss';

// custom overides to the bootstrap modal
.modal-dialog {
    margin-top: 170px;
    .modal-content {
        border-radius: 16px;
        border: none;
        @include themify() {
            // box-shadow: 0 0 25px rgba(themed('text-dark'), 0.05);
        }
    }
}
.modal-lg {
    max-width: 1060px;
}

// defines padding, modal title style, and close button
.app-modal {
    padding: 50px;

    .modal-buttons {
        margin-top: 18px;
        display: flex;
        justify-content: flex-end;

        .button {
            margin-left: 15px;
        }
    }

}
