@import 'src/assets/scss/variables.scss';

.panel {
    border-radius: 8px;
    padding: 20px 25px 25px 25px;
    @include themify() {
        background-color: themed('background-contrast');
    }

    .panel-title-row,
    .panel-subtitle-row {
        font-size: 18px;
        font-family: $app-font-bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .panel-subtitle-row {
        font-family: $app-font-medium;
    }

    .panel-button-row {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button {
            margin-left: 15px;
        }
    }
}
