@import '../variables.scss';

body,
html {
    height: 100%;
    margin: 0;
    font-family: $app-font-regular;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;

    @include themify() {
      color: themed('text');
    }
}

.skeleton {
    @include themify() {
      color: themed('text');
    }
}

p {
    margin: 0;
    line-height: 16px;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    @include themify() {
        color: themed('link');
        &:hover {
            color: darken(themed('link'), 10%);
        }
    }
}
