@import '../variables.scss';

.simple-table {
    max-width: 100%;
    overflow: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @include themify() {
        border: 1px solid themed('border');
    }

    table {
        min-width: 100%;
        border-spacing: 0;
        line-height: 16px;

        thead {
            @include themify() {
                border-bottom: 1px solid themed('border');
            }
        }

        tr {
            @include themify() {
                border-bottom: 1px solid themed('border');
                &:last-child {
                    border-bottom: none;
                }
            }
        }

        td,
        th {
            padding: 0 10px;

            @include themify() {
                border-right: 1px solid themed('border');
                &:last-child {
                    border-right: none;
                }
            }
        }

        th {
            font-family: $app-font-medium;
            max-width: 100px;
            min-width: 100px;
            height: 48px;

            @include themify() {
                background-color: themed('background');
            }
        }

        td {
            height: 32px;
            white-space: nowrap;
        }

    }

    .no-results-message {
        padding: 20px;
    }
}
