@import '../variables.scss';

.tooltip {
    .tooltip-inner {
        @include themify() {
            background-color: themed('text-strong');
            color: themed('background-contrast');
        }
    }
}

.bs-tooltip-top {
    @include themify() {
        .arrow:before {
            border-top-color: themed('text-strong');
        }
    }
}
.bs-tooltip-left {
    @include themify() {
        .arrow:before {
            border-left-color: themed('text-strong');
        }
    }
}
.bs-tooltip-right {
    @include themify() {
        .arrow:before {
            border-right-color: themed('text-strong');
        }
    }
}
.bs-tooltip-bottom {
    @include themify() {
        .arrow:before {
            border-bottom-color: themed('text-strong');
        }
    }
}
