<div appThemed class="toast-container flex-grid justify-content-center" *ngFor="let toast of toastService.toasts">
  <ngb-toast
    [class]="toast.color || 'danger'"
    [autohide]="true"
    [delay]="toast.delay || 4000"
    (hide)="toastService.remove(toast)">
    <div>{{ toast.message }}</div>
  </ngb-toast>
</div>
