@import 'src/assets/scss/variables.scss';

.splash {
    height: 100%;
    @include themify() {
        background-color: themed('brand');
        color: themed('text-contrast');
    }
}

.image-container {
    position: relative;
    margin-bottom: 20px;

    .avatar {
        position: absolute;
        bottom: 0;
        left: calc(50% - 37px);
    }
}

.welcome {
    font-size: 24px;
    margin-bottom: 21px;
    font-family: $app-font-light;
}
.role {
    font-size: 18px;
    opacity: 0.75;
    padding-bottom: 70px;
}
