<div appThemed class="icon-input-box search-box"
  [class.icon-left]="!searchText" [class.icon-right]="searchText"
  [style.width]="width + 'px'" [class.blend]="blend" [class.borderless]="!bordered">

  <i class="icon search-icon" *ngIf="!searchText">search</i>
  <input [(ngModel)]="searchText" [placeholder]="placeholder || 'Search'" (input)="onInput()" (focus)="onFocus()">
  <i class="icon cancel-icon" *ngIf="searchText" (click)="clearSearch()">cancel</i>

</div>
