<div appThemed class="details-panel">
  <div [class]="'strip background-' + color"></div>
  <div class="panel-header flex-grid justify-content-between">
    <div class="title">
      <div class="label">{{ label }}</div>
      {{ id }}
    </div>

    <div class="flex-grid flex-grow justify-content-end">
      <ng-container *ngFor="let status of statuses; let i=index">
        <div [class]="'status flex-grid align-items-stretch ' + (isActive(status) ? color : '')"
          [class.active]="isActive(status)">
          <div
            [class]="'ring flex-grid justify-content-center border-type-' + (isActive(status) ? color : 'text')">
            <div *ngIf="i >= currentStatusIndex">{{ i + 1 | number: '2.0-0' }}</div>
            <i class="icon" *ngIf="i < currentStatusIndex">done</i>
            <div [class]="'ring small border-type-' + (isActive(status) ? color : 'text')"></div>
          </div>
          <div class="flex-grid flex-column align-items-start justify-content-between">
            <i class="icon">{{ icons[i] }}</i>
            <div status-text>{{ status }}</div>
          </div>
        </div>
        <div class="dashed-line flex-grow" *ngIf="i < statuses.length - 1"></div>
      </ng-container>
    </div>
  </div>

  <div class="panel-body">
    <ng-content></ng-content>
  </div>
</div>
