@import 'src/assets/scss/variables.scss';

.lease-details {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;

    @include themify() {
        border-bottom: 1px solid themed('border');
    }

    p {
        white-space: pre-line;
        margin: 5px 15px 20px;
        line-height: 20px;
    }

    ::ng-deep input[type=text] {
        margin: 5px 15px 20px;
        width: calc(100% - 30px);
    }

    .lease-title {
        font-family: $app-font-bold;
        text-transform: uppercase;
        margin-bottom: 14px;
        @include themify() {
            color: themed('brand');
        }
        & + p {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 30px;
            padding-left: 0;
        }
    }

    .lease-subtitle {
        font-family: $app-font-bold;
        text-transform: uppercase;
    }
}
