<div appThemed>
  <div class="lease-details">
    <div class="lease-title">Master Lease and Financing Agreement Acceptance Certificate</div>
    <p>{{ leaseTexts.masterLease }}</p>

    <div class="lease-subtitle">1. Lease Acceptance</div>
    <p [innerHtml]="leaseTexts.leaseAcceptance"></p>
    <div class="lease-subtitle">2. Financing Acceptance</div>
    <p [innerHtml]="leaseTexts.financingAcceptance"></p>
    <div class="lease-subtitle">3. Lease Acknowledgements</div>
    <p [innerHtml]="leaseTexts.leaseAcknowledgements"></p>
    <div class="lease-subtitle">4. Equipment Location</div>
    <p *ngIf="!canEdit" [innerHtml]="equipmentLocation"></p>
    <ng-content *ngIf="canEdit"></ng-content>
  </div>
</div>
