<div appThemed clsas="arc-chart">
  <svg [attr.width]="height" [attr.height]="height" [attr.viewBox]="'0 0 ' + height + ' ' + height" xmlns="http://www.w3.org/2000/svg">
    <g>
        <!-- the greyed out circle -->
        <circle
          class="circle " fill="none" stroke-width="3"
          [attr.r]="height/2 - 2.5" [attr.cy]="height/2" [attr.cx]="height/2"
          [attr.transform]="'rotate(-90' + ' ' + height/2 + ' ' + height/2 + ')'" />
        <!-- the colored arc-->
        <circle
          [ngClass]="'arc ' + color" fill="none"
          [attr.r]="height/2 - 2.5" [attr.cy]="height/2" [attr.cx]="height/2"
          stroke-width="5" [attr.stroke-dasharray]="strokeDasharray" [attr.stroke-dashoffset]="strokeOffset"
          [attr.transform]="'rotate(-90' + ' ' + height/2 + ' ' + height/2 + ')'" />
          <!-- the lines separating the arcs -->
        <line
          [ngClass]="'line ' + backgroundColor"
          stroke-width="2"
          [attr.x1]="height/2" [attr.y1]="height/2"
          [attr.x2]="height/2" [attr.y2]="0" />
        <line
          [ngClass]="'line ' + backgroundColor"
          stroke-width="2"
          [attr.x1]="height/2" [attr.y1]="height/2"
          [attr.x2]="height/2 + lineEndPoint.x" [attr.y2]="height/2 + lineEndPoint.y" />
    </g>
  </svg>
</div>
