@import 'src/assets/scss/variables.scss';

.banner {
    height: 125px;
    border-radius: 8px;
    position: relative;
    padding: 0 25px;
    margin-bottom: 18px;

    @include themify() {
        background-color: themed('brand');
        box-shadow: 0 0 25px rgba(themed('brand'), 0.1);
        color: themed('text-contrast');
    }

    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .icon.cancel {
        font-size: 24px;
        opacity: 0.5;
        position: absolute;
        top: 10px;
        right: 25px;
        cursor: pointer;
    }

    & * {
        z-index: 2;
    }

    .texts {
        margin-left: 25px;
        line-height: 16px;

        .title {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 1px;
            opacity: 1;
        }
        .subtitle {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 5px;
            opacity: 0.75;

            & + div {
                opacity: 0.5;
            }
        }
    }
    .truck {
        margin-right: 85px;
    }
}
