@import 'src/assets/scss/variables.scss';

.doughnut {
    padding-top: 12px;
}

.inner {
    position: relative;
}

.line {
    @include themify() {
        stroke: themed('background-contrast');
    }
}
.arc {
    &.background {
        @include themify() {
            stroke: themed('background');
        }
    }
    &.background-strong {
        @include themify() {
            stroke: themed('background-strong');
        }
    }
}

// the center text label
.total {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: $app-font-bold;
}

.label {
    position: absolute;
    white-space: nowrap;
    text-transform: capitalize;
}
