<div appThemed class="coa-listing">
  <app-status-banner *ngIf="statusCounts" [statuses]="statusCounts" name="COA"></app-status-banner>

  <app-listing-table
    [columns]="columns"
    [service]="coaService"
    [statuses]="statuses"
    (linkClick)="navigateToCoa($event)"
    (edit)="navigateToCoa($event)">
  </app-listing-table>

</div>
