@import 'src/assets/scss/variables.scss';

.detail-fields {
    .field {
        font-size: 12px;
        line-height: 16px;
        margin-right: 50px;

        .label {
            text-transform: uppercase;
            margin-bottom: 3px;
            @include themify() {
                color: themed('text-weak');
            }
        }
        .value {
            font-size: 14px;
            font-family: $app-font-medium;
        }
    }
}

.panel {
    .panel-button-row {
        justify-content: flex-start;
        .button {
            margin-left: 0;
        }
    }
}
